<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangshengzhou.gobang.mapper.UserMapper">

    <select id="selectByName" resultType="com.yangshengzhou.gobang.entity.User">
        select * from user where username = #{username};
    </select>


    <insert id="insert" parameterType="com.yangshengzhou.gobang.entity.User">
        INSERT INTO user (username, password, email, nickname, score, level, total_games, win_games, lose_games, draw_games, status, create_time, update_time)
        VALUES (#{username}, #{password}, #{email}, #{nickname}, 1000, 1, 0, 0, 0, 0, 1, NOW(), NOW())
    </insert>


    <update id = "userWin">
        update user set totalCount = totalCount + 1,
                        winCount = winCount + 1,
                        score = score + 10
        where userId = #{userId}
    </update>

    <update id = "userLose">
        update user set totalCount = totalCount + 1,
                        score = score - 5
        where userId = #{userId}
    </update>
</mapper>
